@page "/logout"
@layout AuthEmptyLayout

@using CMouss.IdentityFramework;
@using CMouss.IdentityFramework.BlazorUI;
@using Microsoft.AspNetCore.Components.Sections

@inject NavigationManager NavManager
@inject CookieAuthService CookieAuth


<PageTitle>Logout</PageTitle>

<span>Logging out...</span>

@code {
    // protected override void OnInitialized()
    // {
    //     LogoutUser();
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // This will ensure that the logout process is initiated only once when the component is first rendered.
            await LogoutUser();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task LogoutUser()
    {
        try
        {
            // Delete authentication cookie
            await CookieAuth.DeleteTokenAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            // Silently handle any errors during logout
        }

        NavManager.NavigateTo(IDFBlazorUIConfig.AfterLogoutRedirectURL, true);
    }
}
