@page "/counter2"
@layout MainLayoutAuth


@inject NavigationManager NavManager


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@if(authLayoutModel is not null)
{
    if(authLayoutModel.User is not null)
    {
        <p>Welcome, @authLayoutModel.User.UserName!</p>
    }
}
else
{
    <p>Loading user information...</p>

}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Logout">Logout</button>


@code {

    [CascadingParameter]
    public AuthLayoutModel authLayoutModel { get; set; }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void Logout()
    {
        NavManager.NavigateTo("/logout", true);
    }

}
